@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-blue-main: #2f3e5b;
  --color-blue-light: #3091be;
  --color-white-text: #e5f0f5;
  --color-brown-1: #d6c7b2;
  --color-brown-2: #d9d9d9;
  --color-blue-4: #a6ccde;

  --font-raleway: 'Raleway';
  --font-montagu-slab: 'Montagu Slab';
}
.news-swiper {
  width: 100%;
  height: 100%;
}

.news-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-white-text);
  background-color: transparent;
  opacity: 1;

  transition: background-color 0.3s;
}

.news-swiper .swiper-pagination-bullet-active {
  background-color: var(--color-white-text);
  width: 14px;
  height: 14px;
}
° .news-swiper .swiper-button-next,
.news-swiper .swiper-button-prev {
  color: var(--color-white-text);
}

.news-swiper .swiper-slide .bg-white-text {
  width: 100%;
  max-width: 500px;
}
